@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

/* .nav-container {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 49% 100%, 30% 61%);
} */
